.form {
	color: $black;
	margin-top: 30px;
	position: relative;

	&__label {
		font-size: 12px;
	}

	&__input {
		font-family: "Gotham-Bold";
		padding: 16px 15.5px 17px 13.5px;
		line-height: 13.4px;
		border: 2px solid $yellow;
		margin-top: 4px;
		margin-bottom: 15px;
		width: 100%;
		outline: none;
		color: $black;
		font-size: 14px;

		&::placeholder {
			color: $black;
		}
	}
} 
